@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}



@font-face {
   font-family: sanket;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  }


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
html{

}
header {
	height: 200px;
	background-color: black;
}

*,*:after,*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
   font-family: myFirstFont;
   src: url(Ailerons.ttf);
   font-stretch:expanded;
  }
#headingfont{
	/*text-align: center;*/
	
	font-family: myFirstFont;
	font-weight: bold;
	height: 110px;
	font-size: 110px;
	padding-bottom: 20px;
	text-shadow:0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	 width: 64%;
	 color: white;
	 background-color: inherit;
	 margin-left:32%;
	 
	  
}
body {
	font-family: 'Raleway', sans-serif;
	font-size: 23px;
	
	
}

nav {
	/* background-color:#ecf0f1; */
	background: #3fa46a;
	box-shadow: 4px 4px 15px black;
}

nav a {
	position: relative;
	right: -30%;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: white; text-decoration : none;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
	font-size: 1.05em;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
}

nav a:hover,nav a:focus {
	outline: none;
}


/*content*/
#content {
	background-color:#D9D9D9;
	min-height:500px;
	font-weight:600;
}
#h{
	display: inline-block;
	margin-left:40%;
	margin-bottom:40px;
	padding-top:1%;
	font-weight: 700;
	font-size:1.3em;
	text-shadow: 1px 1px 2px grey;
}
.orderItem{
	width:60%;
	display:block;
	margin-left: 20%;
	margin-bottom: 40px;
	padding-top:40px;
	box-shadow:1px 1px 4px grey;

}
.orderid{
	text-shadow:1px 1px 2px grey;
	display:inline-block;
	margin:2%;
	
}
.date{
	font-size:0.7em;
	display:inline-block;
	margin-left:55%;
}
.total{
	font: 500 1.2rem/1.2 "Open Sans", sans-serif;
	margin-top:1%;
	margin-left:15%;
	padding-bottom: 2%;
}
.item{
	font: 500 1.2rem/1.2 "Open Sans", sans-serif;
	margin-left:15%;
	margin-bottom:1%;
}
.br{
	border:1px grey;
	width:40%;
	height:10px;
}
.price{
	font: 500 1.2rem/1.2 "Open Sans", sans-serif;
	display:inline-block;
	margin-left:2%;
	margin-bottom:1%;

}



/*css for order.jsp*/
.result{
	display: inline-block;
	margin-left:20%;
	font-size:1em;
}

footer{
	background-color: black;
	height:200px;
	color:white;
	
}