<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bookshop</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.training.topaz.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.training.topaz.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserAvailibility</display-name>
    <servlet-name>CheckUserAvailibility</servlet-name>
    <servlet-class>com.training.topaz.CheckUserAvailibility</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserAvailibility</servlet-name>
    <url-pattern>/CheckUserAvailibility</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.training.topaz.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemServlet</display-name>
    <servlet-name>ItemServlet</servlet-name>
    <servlet-class>com.training.topaz.ItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemServlet</servlet-name>
    <url-pattern>/ItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultsServlet</display-name>
    <servlet-name>ResultsServlet</servlet-name>
    <servlet-class>com.training.topaz.ResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultsServlet</servlet-name>
    <url-pattern>/ResultsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalServlet</display-name>
    <servlet-name>ApprovalServlet</servlet-name>
    <servlet-class>com.training.topaz.ApprovalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalServlet</servlet-name>
    <url-pattern>/ApprovalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.training.topaz.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartDisplayServlet</display-name>
    <servlet-name>CartDisplayServlet</servlet-name>
    <servlet-class>com.training.topaz.CartDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartDisplayServlet</servlet-name>
    <url-pattern>/CartDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.training.topaz.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.training.topaz.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.training.topaz.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderHistoryServlet</display-name>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <servlet-class>com.training.topaz.OrderHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <url-pattern>/OrderHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addItemsServlet</display-name>
    <servlet-name>addItemsServlet</servlet-name>
    <servlet-class>com.training.topaz.addItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addItemsServlet</servlet-name>
    <url-pattern>/addItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchItemServlet</display-name>
    <servlet-name>SearchItemServlet</servlet-name>
    <servlet-class>com.training.topaz.SearchItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchItemServlet</servlet-name>
    <url-pattern>/SearchItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addStockServlet</display-name>
    <servlet-name>addStockServlet</servlet-name>
    <servlet-class>com.training.topaz.addStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStockServlet</servlet-name>
    <url-pattern>/addStockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchByStock</display-name>
    <servlet-name>searchByStock</servlet-name>
    <servlet-class>com.training.topaz.searchByStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchByStock</servlet-name>
    <url-pattern>/searchByStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToStock</display-name>
    <servlet-name>AddToStock</servlet-name>
    <servlet-class>com.training.topaz.AddToStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToStock</servlet-name>
    <url-pattern>/AddToStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewCustomersServlet</display-name>
    <servlet-name>viewCustomersServlet</servlet-name>
    <servlet-class>com.training.topaz.viewCustomersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewCustomersServlet</servlet-name>
    <url-pattern>/viewCustomersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingServlet</display-name>
    <servlet-name>PendingServlet</servlet-name>
    <servlet-class>com.training.topaz.PendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingServlet</servlet-name>
    <url-pattern>/PendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.training.topaz.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
</web-app>